<head>
    <title>Example of the Authorization Code flow with <%= RubyOuath.configuration.provider %></title>
      <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <style type="text/css">
        #loggedin {
          display: none;
        }
        .text-overflow {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 500px;
        }
      </style>
</head>